In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\nicola\appdata\local\programs\python\python311\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\nicola\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\nicola\appdata\local\programs\python\python311\lib\site-packages (23.3.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\nicola\appdata\local\programs\python\python311\lib\site-packages (1.26.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\nicola\appdata\local\programs\python\python311\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\nicola\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nicola\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nicola\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nicola\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nicola\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
%pip install -q lxml


import bs4
import lxml
import pandas as pd
import urllib

from urllib import request

Note: you may need to restart the kernel to use updated packages.

In [7]:
url_salles_de_concert = 'https://www.offi.fr/concerts/salles-de-concert-paris.html'  ## URL of the stripped page
request_text = request.urlopen(url_salles_de_concert).read()   ## opens the URL

In [8]:
page = bs4.BeautifulSoup(request_text, "lxml") ## We get a usable html text

In [9]:
print(page.find("title"))

<title>Salles de concert à Paris • L'Officiel des spectacles</title>

In [10]:
table_concert_hall = page.find('table',{'class' : 'tableau-liste'}) ## accessing the table we want to scrap

In [11]:
type(table_concert_hall)

bs4.element.Tag

In [12]:
table_body = table_concert_hall.find_all('tbody')[1] ## accessing the body of the table (there is another tbody before thee one we want to access hence the find_all)

In [13]:
type(table_body)

bs4.element.Tag

In [14]:
table_rows = table_body.find_all('tr')  ## creates a list containing all the lines

In [15]:
type(table_rows)

bs4.element.ResultSet

In [16]:
table_col = table_rows[0].findAll('td') ## creates a list with all the cells from the first row

In [17]:
Dict = {}

for row in table_rows:
    table_col = row.findAll('td')
    table_col = [cell.text.strip() for cell in table_col]
    Dict[table_col[0]] = table_col[1:]

Data_concert_hall = pd.DataFrame.from_dict(Dict,orient='index')
Data_concert_hall.head()

,0,1,2
360 Paris Music Factory,Paris 18e,"Musiques du monde, musiques urbaines et actuelles",300
Accor Arena,Paris 12e,"Pop rock, artistes populaires",20 300
Alhambra,Paris 10e,"Musiques actuelles : soul, rock, chanson, élec...",500
Alimentation Générale,Paris 11e,"Musiques actuelles : rock, électro, funk... + ...",500
Au Limonaire,Paris 9e,Chanson,nc

In [29]:
Data_concert_hall_V2 = pd.DataFrame(Dict)
Data_concert_hall_V2 = Data_concert_hall_V2.T
Data_concert_hall_V2.head()

,0,1,2
360 Paris Music Factory,Paris 18e,"Musiques du monde, musiques urbaines et actuelles",300
Accor Arena,Paris 12e,"Pop rock, artistes populaires",20 300
Alhambra,Paris 10e,"Musiques actuelles : soul, rock, chanson, élec...",500
Alimentation Générale,Paris 11e,"Musiques actuelles : rock, électro, funk... + ...",500
Au Limonaire,Paris 9e,Chanson,nc

In [19]:
titles = []
table_titles = table_concert_hall.find('tbody')
cols = table_titles.findAll('th') ## there is only one line here so we access directly to the columns 
for col in cols:
    titles.append(col.text.strip())

titles

['Salle de concert', 'Lieu', 'Genre musical', 'Jauge']

In [20]:
Data_concert_hall.columns = titles[1:]
Data_concert_hall.head()

,Lieu,Genre musical,Jauge
360 Paris Music Factory,Paris 18e,"Musiques du monde, musiques urbaines et actuelles",300
Accor Arena,Paris 12e,"Pop rock, artistes populaires",20 300
Alhambra,Paris 10e,"Musiques actuelles : soul, rock, chanson, élec...",500
Alimentation Générale,Paris 11e,"Musiques actuelles : rock, électro, funk... + ...",500
Au Limonaire,Paris 9e,Chanson,nc

In [26]:
Data_concert_hall.to_csv(r"C:\Users\Nicola\OneDrive\Bureau\Projets Python\Python for datascience 25.11.2023\Python_2A\Salles_de_concert_Paris\database_concert_hall.csv")

In [ ]:
Adresses = []