In [2]:
### Maps_cultural_life_Paris/Outputs/DataSets/DataMusiqueClassique_v7.csv

In [1]:
import os

In [2]:
os.getcwd()

'/home/onyxia/work/Maps_cultural_life_Paris/Salles_de_concert_Paris'

In [3]:
data = pd.read_csv('/home/onyxia/work/Maps_cultural_life_Paris/Outputs/DataSets/DataMusiqueClassique_v7.csv')

In [48]:
import pandas as pd
from datetime import datetime 
import folium
import webbrowser


def ClassicalMap(data:'Pandas DataFrame',date:'YYYY-MM-DD'):

    ## on convertit la date de l'utilisateur au format datetime 
    
    user_date = datetime.strptime(date, '%Y-%m-%d')
    data['date datetime'] = pd.to_datetime(data['date datetime'])
    
    data['date datetime'] = data['date datetime'].apply(lambda x: x.replace(hour=0, minute=0, second=0, microsecond=0))
    user_date = user_date.replace(hour=0, minute=0, second=0, microsecond=0)


    
    filtered_data = data[(data['date datetime'] == user_date)]

    print(filtered_data)


    paris_coordinates = [48.8566, 2.3522]
    my_map = folium.Map(location=paris_coordinates, zoom_start=12)

    for index, row in filtered_data.iterrows():
        establishment_name = row['etablissement']
        address = row['adresse']
        show_name = row['nom']
        average_price = row['prix moyen']

        coordinates = [float(coord.strip('()')) for coord in row['coordonnees'].split(',')]
        popup_text = f"<b>{establishment_name}</b><br>Adresse: {address}<br>Pièce: {show_name}<br>Prix moyen: {average_price} €"
        folium.Marker(location=coordinates, popup=popup_text).add_to(my_map)
    
    my_map.save("Outputs\Maps\Classicmap.html")
    html_file_path = 'Outputs\Maps\Classicmap.html'
    webbrowser.open(html_file_path)

In [49]:
ClassicalMap(data,'2024-02-13')

                       nom                                      etablissement  \
323       Adrien Polycarpe                                Église Saint-Éphrem
335  The Beggar's Ensemble                                     La Scala Paris
336          Beatrice Rana  Grande salle Pierre Boulez - Philharmonie de P...

                         Date                                    adresse  \
323   Mardi 13 Février  19h00           17 rue des Carmes, Paris, France
335   Mardi 13 Février  19h30  13 boulevard de Strasbourg, Paris, France
336   Mardi 13 Février  20h00      221 avenue Jean-Jaurès, Paris, France

       commune     prix            coordonnees  prix min  prix max  \
323   Paris 5e  16-25 €  (2.347335, 48.848424)      16.0      25.0
335  Paris 10e  unknown  (2.354572, 48.870299)       NaN       NaN
336  Paris 19e  unknown  (2.393824, 48.889311)       NaN       NaN

    prix unique prix moyen date datetime  heure
323         NaN       20.5    2024-02-13  19h00
335     unknown    unknown    2024-02-13  19h30
336     unknown    unknown    2024-02-13  20h00

2024-02-13 00:00:00

,nom,etablissement,Date,adresse,commune,prix,coordonnees,prix min,prix max,prix unique,prix moyen,date datetime,heure
323,Adrien Polycarpe,Église Saint-Éphrem,Mardi 13 Février 19h00,"17 rue des Carmes, Paris, France",Paris 5e,16-25 €,"(2.347335, 48.848424)",16.0,25.0,NaN,20.5,2024-02-13,19h00
335,The Beggar's Ensemble,La Scala Paris,Mardi 13 Février 19h30,"13 boulevard de Strasbourg, Paris, France",Paris 10e,unknown,"(2.354572, 48.870299)",NaN,NaN,unknown,unknown,2024-02-13,19h30
336,Beatrice Rana,Grande salle Pierre Boulez - Philharmonie de P...,Mardi 13 Février 20h00,"221 avenue Jean-Jaurès, Paris, France",Paris 19e,unknown,"(2.393824, 48.889311)",NaN,NaN,unknown,unknown,2024-02-13,20h00

TypeError: string indices must be integers