In [ ]:
# Recupération de la liste des théâtres et Opéras de paris via Wikipédia

In [42]:
!pip install -q lxml

import bs4
import lxml
import pandas as pd
import urllib

from urllib import request

url_liste_etablissements = "https://fr.wikipedia.org/wiki/Liste_des_th%C3%A9%C3%A2tres_et_op%C3%A9ras_de_Paris"
    
request_text = request.urlopen(url_liste_etablissements).read()
type(request_text)

page = bs4.BeautifulSoup(request_text, "lxml")

tableau_etablissements = page.find("table", {"class":"wikitable sortable"})

table_body = tableau_etablissements.find("tbody")
rows = table_body.find_all("tr")

for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]


dico_etablissements = dict()
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    if len(cols) > 0 : 
        dico_etablissements[cols[0]] = cols[1:]

data_etablissements = pandas.DataFrame.from_dict(dico_etablissements,orient='index')
data_etablissements.head()

for row in rows:
    cols = row.find_all('th')
    if len(cols) > 0 : 
        cols = [ele.get_text(separator=' ').strip().title() for ele in cols]
        columns_etablissements = cols

data_etablissements.columns = columns_etablissements[1:]
data_etablissements.head()

,Adresse,Arr.,Date D'Ouverture,Nombre De Sièges,Notes
Théâtre Adyar,"4, square Rapp",7e,1912,381,
Aktéon,"11, rue du Général-Blaise",11e,1986,60,
Antre Magique,"50, rue Saint-Georges",9e,,49,
Artistic Athévains,"45 bis, rue Richard-Lenoir",11e,Début XXe siècle,220,"Ancien nom : L'Artistic, Folies Artistic, Arti..."
A la Folie Théâtre,"6, rue de la Folie-Méricourt",11e,2008,94 et 49,Ancien nom : théâtre de l'Epouventail

In [53]:
sock = urllib.request.urlopen(url_liste_etablissements).read() 
page=bs4.BeautifulSoup(sock)

for etablissement in page.findAll('span', {'class': '/w/index.php?title=Liste_des_th%C3%A9%C3%A2tres_et_op%C3%A9ras_de_Paris&amp;veaction=edit&amp;section=1'}):
    if etablissement.find("a")!= None:
        etablissement_url= etablissement.find("a").get("href")
        url_get_info= "http://fr.wikipedia.org"+etablissement_url
        print(url_get_info)