In [1]:
# Recupération de la liste des théâtres et Opéras de paris via Wikipédia

In [12]:
!pip install -q lxml

import bs4
import lxml
import pandas as pd
import urllib
import requests

from urllib import request

url_liste_etablissements = "https://fr.wikipedia.org/wiki/Liste_des_th%C3%A9%C3%A2tres_et_op%C3%A9ras_de_Paris"
    
request_text = request.urlopen(url_liste_etablissements).read()
type(request_text)

page = bs4.BeautifulSoup(request_text, "lxml")

tableau_etablissements = page.find("table", {"class":"wikitable sortable"})

table_body = tableau_etablissements.find("tbody")
rows = table_body.find_all("tr")

for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]


dico_etablissements = dict()
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    if len(cols) > 0 : 
        dico_etablissements[cols[0]] = cols[1:]

data_etablissements = pd.DataFrame.from_dict(dico_etablissements,orient='index')
data_etablissements.head()

for row in rows:
    cols = row.find_all('th')
    if len(cols) > 0 : 
        cols = [ele.get_text(separator=' ').strip().title() for ele in cols]
        columns_etablissements = cols

data_etablissements.columns = columns_etablissements[1:]
data_etablissements.head()

,Adresse,Arr.,Date D'Ouverture,Nombre De Sièges,Notes
Théâtre Adyar,"4, square Rapp",7e,1912,381,
Aktéon,"11, rue du Général-Blaise",11e,1986,60,
Antre Magique,"50, rue Saint-Georges",9e,,49,
Artistic Athévains,"45 bis, rue Richard-Lenoir",11e,Début XXe siècle,220,"Ancien nom : L'Artistic, Folies Artistic, Arti..."
A la Folie Théâtre,"6, rue de la Folie-Méricourt",11e,2008,94 et 49,Ancien nom : théâtre de l'Epouventail

In [20]:
import pandas as pd

def obtenir_coordonnees_adresse(adresse):
    base_url = "https://api-adresse.data.gouv.fr/search/"
    params = {
        "q": adresse,
        "limit": 1
    }

    response = requests.get(base_url, params=params)

    if response.status_code == 200:
        data = response.json()
        if data.get('features'):
            coordinates = data['features'][0]['geometry']['coordinates']
            return tuple(coordinates)
        else:
            return None
    else:
        print(f"Erreur lors de la requête : {response.status_code}")
        return None

data_etablissements['Adresse_complete'] = data_etablissements['Adresse'] + ', Paris, France'

data_etablissements['Coordonnees'] = data_etablissements['Adresse_complete'].apply(obtenir_coordonnees_adresse)

print(data_etablissements)
data_etablissements.to_csv("data_etablissements.csv", encoding = "utf-8")

Erreur lors de la requête : 400
Erreur lors de la requête : 400
                                                           Adresse Arr.  \
Théâtre Adyar                                       4, square Rapp   7e
Aktéon                                   11, rue du Général-Blaise  11e
Antre Magique                                50, rue Saint-Georges   9e
Artistic Athévains                      45 bis, rue Richard-Lenoir  11e
A la Folie Théâtre                    6, rue de la Folie-Méricourt  11e
...                                                            ...  ...
Apollo Théâtre                       18, rue du Faubourg-du-Temple  11e
Le Zèbre                            61-63, boulevard de Belleville  11e
Théâtre de Belleville                94, rue du Faubourg-du-Temple  11e
Théâtre Dunois                                  7 rue Louise-Weiss  13e
IVT - International Visual Theatre                  7 cité Chaptal   9e

                                    Date D'Ouverture      Nombre De Sièges  \
Théâtre Adyar                                   1912                   381
Aktéon                                          1986                    60
Antre Magique                                                           49
Artistic Athévains                  Début XXe siècle                   220
A la Folie Théâtre                              2008              94 et 49
...                                              ...                   ...
Apollo Théâtre                                        360 - 200 - 130 - 90
Le Zèbre                                        1939
Théâtre de Belleville                           2011                    96
Théâtre Dunois                                  1977
IVT - International Visual Theatre              2007                   185

                                                                                Notes  \
Théâtre Adyar
Aktéon
Antre Magique
Artistic Athévains                  Ancien nom : L'Artistic, Folies Artistic, Arti...
A la Folie Théâtre                              Ancien nom : théâtre de l'Epouventail
...                                                                               ...
Apollo Théâtre                                         Anciennement théâtre du Temple
Le Zèbre                            Anciens noms : le Nox, le Berry et le Berry Zèbre
Théâtre de Belleville                                   Anciennement le Tambour royal
Théâtre Dunois
IVT - International Visual Theatre           Anciennement le théâtre du Grand Guignol

                                                                 Adresse_complete  \
Théâtre Adyar                                       4, square Rapp, Paris, France
Aktéon                                   11, rue du Général-Blaise, Paris, France
Antre Magique                                50, rue Saint-Georges, Paris, France
Artistic Athévains                      45 bis, rue Richard-Lenoir, Paris, France
A la Folie Théâtre                    6, rue de la Folie-Méricourt, Paris, France
...                                                                           ...
Apollo Théâtre                       18, rue du Faubourg-du-Temple, Paris, France
Le Zèbre                            61-63, boulevard de Belleville, Paris, France
Théâtre de Belleville                94, rue du Faubourg-du-Temple, Paris, France
Théâtre Dunois                                  7 rue Louise-Weiss, Paris, France
IVT - International Visual Theatre                  7 cité Chaptal, Paris, France

                                              Coordonnees
Théâtre Adyar                       (2.301085, 48.858644)
Aktéon                               (2.37818, 48.861757)
Antre Magique                       (2.337374, 48.877414)
Artistic Athévains                  (2.380986, 48.856669)
A la Folie Théâtre                  (2.374718, 48.861536)
...                                                   ...
Apollo Théâtre                        (2.3661, 48.868315)
Le Zèbre                            (2.378738, 48.870187)
Théâtre de Belleville               (2.374277, 48.871037)
Théâtre Dunois                       (2.370542, 48.83318)
IVT - International Visual Theatre  (2.333126, 48.881432)

[137 rows x 7 columns]

In [32]:
import folium
from folium.plugins import MarkerCluster

data_etablissements['Coordonnees'] = data_etablissements['Adresse_complete'].apply(obtenir_coordonnees_adresse)


carte = folium.Map(location=[48.8566, 2.3522], zoom_start=12)

for row in data_etablissements['Coordonnees'][1:]:
    print(row)
    if row:
        folium.Marker(location=row).add_to(carte)

carte.save("carte_paris.html")

Erreur lors de la requête : 400
Erreur lors de la requête : 400
(2.37818, 48.861757)
(2.337374, 48.877414)
(2.380986, 48.856669)
(2.374718, 48.861536)
(2.328547, 48.84634)
(2.355207, 48.870599)
(2.450645, 48.835062)
(2.342473, 48.88338)
(2.388862, 48.857788)
(2.310204, 48.893244)
(2.32899, 48.872184)
(2.38192, 48.888485)
(2.348225, 48.895181)
(2.370883, 48.86311)
(2.375555, 48.855861)
(2.357432, 48.85874)
(2.32357, 48.839811)
(2.358623, 48.884177)
(2.335318, 48.868382)
(2.353978, 48.859562)
(2.361942, 48.867853)
(2.282002, 48.862412)
(2.303279, 48.865672)
(2.346758, 48.857614)
(2.450645, 48.835062)
(2.351559, 48.829519)
(2.328077, 48.871623)
(2.346347, 48.870252)
(5.695756, 45.195432)
(2.357319, 48.852299)
(2.323727, 48.839791)
(2.431276, 48.85716)
(2.361942, 48.867853)
(2.339549, 48.844567)
(2.346869, 48.872551)
(2.38513, 48.874366)
(2.354771, 48.869821)
(2.338625, 48.820109)
(2.397659, 48.864546)
(2.393208, 48.885938)
(2.331908, 48.869336)
(2.345965, 48.859707)
(2.364579, 48.866235)
(2.331609, 48.884256)
(2.33639, 48.882883)
(2.411747, 48.841806)
(2.344527, 48.874091)
(2.318928, 48.867426)
(2.332942, 48.895559)
(2.326383, 48.883969)
(2.329345, 48.871314)
(2.450645, 48.835062)
(2.403139, 48.870475)
(2.353086, 48.859764)
(2.344904, 48.87409)
(2.334749, 48.880994)
(2.340416, 48.890751)
(2.306129, 48.898815)
(2.353591, 48.866831)
(2.32317, 48.839319)
(2.348839, 48.870746)
(2.341972, 48.871839)
(2.322325, 48.840563)
(2.319269, 48.882072)
(2.345354, 48.853025)
(2.33639, 48.878915)
(2.31908, 48.894748)
(2.368148, 48.871529)
(2.337265, 48.887636)
(2.330403, 48.844242)
(2.351844, 48.86218)
(2.377852, 48.867731)
(2.394796, 48.868264)
(2.320443, 48.870982)
(2.378097, 48.85241)
(2.336711, 48.884393)
(2.315462, 48.869995)
(2.325636, 48.873274)
(2.357796, 48.866289)
(2.348353, 48.865018)
(2.32546, 48.873287)
(2.334658, 48.869328)
(2.331221, 48.875365)
(2.323534, 48.839499)
(2.349834, 48.842211)
(2.344899, 48.871361)
(2.343063, 48.872387)
(2.338717, 48.849898)
(2.305376, 48.899318)
(2.33804, 48.871107)
(2.33216, 48.884562)
(2.343306, 48.872149)
(2.368294, 48.86915)
(2.288708, 48.832033)
(2.331518, 48.878671)
(2.337508, 48.866057)
None
(2.275407, 48.858046)
(2.332236, 48.868598)
(2.33657, 48.878987)
(2.332811, 48.878566)
(2.351094, 48.89538)
(2.30101, 48.87695)
(2.325729, 48.843952)
(2.356931, 48.857828)
(2.356991, 48.868924)
(2.306846, 48.825896)
(2.356402, 48.869011)
(2.277741, 48.854572)
(2.352333, 48.858829)
None
(2.336271, 48.863335)
(2.324362, 48.84077)
(2.358999, 48.886741)
(2.337392, 48.878145)
(2.296852, 48.850574)
(2.301819, 48.830303)
(2.450645, 48.835062)
(2.356726, 48.87071)
(2.334832, 48.862725)
(2.344278, 48.89371)
(2.450645, 48.835062)
(2.381571, 48.860075)
(2.344855, 48.828836)
(2.343026, 48.882862)
(2.31922, 48.878811)
(2.345293, 48.873478)
(2.342142, 48.871471)
(2.330275, 48.851775)
(2.34779, 48.857346)
(2.38947, 48.867888)
(2.3661, 48.868315)
(2.378738, 48.870187)
(2.374277, 48.871037)
(2.370542, 48.83318)
(2.333126, 48.881432)

In [35]:
for index, row in data_etablissements.iterrows():
    folium.Marker(
        location=[48.8566, 2.3522],  # Utilisez des coordonnées statiques pour tester
        popup=row['Adresse_complete']
    ).add_to(carte)