In [6]:
# Recupération de la liste des théâtres et Opéras de paris via Wikipédia

In [4]:
!pip install -q lxml

import bs4
import lxml
import pandas as pd
import urllib

from urllib import request

url_liste_etablissements = "https://fr.wikipedia.org/wiki/Liste_des_th%C3%A9%C3%A2tres_et_op%C3%A9ras_de_Paris"
    
request_text = request.urlopen(url_liste_etablissements).read()
type(request_text)

page = bs4.BeautifulSoup(request_text, "lxml")

tableau_etablissements = page.find("table", {"class":"wikitable sortable"})

table_body = tableau_etablissements.find("tbody")
rows = table_body.find_all("tr")

for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]


dico_etablissements = dict()
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    if len(cols) > 0 : 
        dico_etablissements[cols[0]] = cols[1:]

data_etablissements = pd.DataFrame.from_dict(dico_etablissements,orient='index')
data_etablissements.head()

for row in rows:
    cols = row.find_all('th')
    if len(cols) > 0 : 
        cols = [ele.get_text(separator=' ').strip().title() for ele in cols]
        columns_etablissements = cols

data_etablissements.columns = columns_etablissements[1:]
data_etablissements.head()

,Adresse,Arr.,Date D'Ouverture,Nombre De Sièges,Notes
Théâtre Adyar,"4, square Rapp",7e,1912,381,
Aktéon,"11, rue du Général-Blaise",11e,1986,60,
Antre Magique,"50, rue Saint-Georges",9e,,49,
Artistic Athévains,"45 bis, rue Richard-Lenoir",11e,Début XXe siècle,220,"Ancien nom : L'Artistic, Folies Artistic, Arti..."
A la Folie Théâtre,"6, rue de la Folie-Méricourt",11e,2008,94 et 49,Ancien nom : théâtre de l'Epouventail

In [5]:
import pandas as pd
import requests

def obtenir_coordonnees_adresse(adresse):
    base_url = "https://api-adresse.data.gouv.fr/search/"
    params = {
        "q": adresse,
        "limit": 1
    }

    response = requests.get(base_url, params=params)

    if response.status_code == 200:
        data = response.json()
        if data.get('features'):
            coordinates = data['features'][0]['geometry']['coordinates']
            return tuple(coordinates)
        else:
            return None
    else:
        print(f"Erreur lors de la requête : {response.status_code}")
        return None

data_etablissements['Adresse_complete'] = data_etablissements['Adresse'] + ', Paris, France'

data_etablissements['Coordonnees'] = data_etablissements['Adresse_complete'].apply(obtenir_coordonnees_adresse)

data_etablissements = data_etablissements.dropna(subset=['Coordonnees']).reset_index(drop=True)

print(data_etablissements)

Erreur lors de la requête : 400
Erreur lors de la requête : 400
                            Adresse Arr.  Date D'Ouverture  \
0                    4, square Rapp   7e              1912
1         11, rue du Général-Blaise  11e              1986
2             50, rue Saint-Georges   9e
3        45 bis, rue Richard-Lenoir  11e  Début XXe siècle
4      6, rue de la Folie-Méricourt  11e              2008
..                              ...  ...               ...
130   18, rue du Faubourg-du-Temple  11e
131  61-63, boulevard de Belleville  11e              1939
132   94, rue du Faubourg-du-Temple  11e              2011
133              7 rue Louise-Weiss  13e              1977
134                  7 cité Chaptal   9e              2007

         Nombre De Sièges                                              Notes  \
0                     381
1                      60
2                      49
3                     220  Ancien nom : L'Artistic, Folies Artistic, Arti...
4                94 et 49              Ancien nom : théâtre de l'Epouventail
..                    ...                                                ...
130  360 - 200 - 130 - 90                     Anciennement théâtre du Temple
131                        Anciens noms : le Nox, le Berry et le Berry Zèbre
132                    96                      Anciennement le Tambour royal
133
134                   185           Anciennement le théâtre du Grand Guignol

                                  Adresse_complete            Coordonnees
0                    4, square Rapp, Paris, France  (2.301085, 48.858644)
1         11, rue du Général-Blaise, Paris, France   (2.37818, 48.861757)
2             50, rue Saint-Georges, Paris, France  (2.337374, 48.877414)
3        45 bis, rue Richard-Lenoir, Paris, France  (2.380986, 48.856669)
4      6, rue de la Folie-Méricourt, Paris, France  (2.374718, 48.861536)
..                                             ...                    ...
130   18, rue du Faubourg-du-Temple, Paris, France    (2.3661, 48.868315)
131  61-63, boulevard de Belleville, Paris, France  (2.378738, 48.870187)
132   94, rue du Faubourg-du-Temple, Paris, France  (2.374277, 48.871037)
133              7 rue Louise-Weiss, Paris, France   (2.370542, 48.83318)
134                  7 cité Chaptal, Paris, France  (2.333126, 48.881432)

[135 rows x 7 columns]

In [6]:
# On inverse les coordonnées latitude/longitude afin de les avoir dans le bon ordre pour les afficher sur la carte
data_etablissements['Coordonnees'] = data_etablissements['Coordonnees'].apply(lambda x: (x[1], x[0]) if x is not None else None)
print(data_etablissements)

                            Adresse Arr.  Date D'Ouverture  \
0                    4, square Rapp   7e              1912
1         11, rue du Général-Blaise  11e              1986
2             50, rue Saint-Georges   9e
3        45 bis, rue Richard-Lenoir  11e  Début XXe siècle
4      6, rue de la Folie-Méricourt  11e              2008
..                              ...  ...               ...
130   18, rue du Faubourg-du-Temple  11e
131  61-63, boulevard de Belleville  11e              1939
132   94, rue du Faubourg-du-Temple  11e              2011
133              7 rue Louise-Weiss  13e              1977
134                  7 cité Chaptal   9e              2007

         Nombre De Sièges                                              Notes  \
0                     381
1                      60
2                      49
3                     220  Ancien nom : L'Artistic, Folies Artistic, Arti...
4                94 et 49              Ancien nom : théâtre de l'Epouventail
..                    ...                                                ...
130  360 - 200 - 130 - 90                     Anciennement théâtre du Temple
131                        Anciens noms : le Nox, le Berry et le Berry Zèbre
132                    96                      Anciennement le Tambour royal
133
134                   185           Anciennement le théâtre du Grand Guignol

                                  Adresse_complete            Coordonnees
0                    4, square Rapp, Paris, France  (48.858644, 2.301085)
1         11, rue du Général-Blaise, Paris, France   (48.861757, 2.37818)
2             50, rue Saint-Georges, Paris, France  (48.877414, 2.337374)
3        45 bis, rue Richard-Lenoir, Paris, France  (48.856669, 2.380986)
4      6, rue de la Folie-Méricourt, Paris, France  (48.861536, 2.374718)
..                                             ...                    ...
130   18, rue du Faubourg-du-Temple, Paris, France    (48.868315, 2.3661)
131  61-63, boulevard de Belleville, Paris, France  (48.870187, 2.378738)
132   94, rue du Faubourg-du-Temple, Paris, France  (48.871037, 2.374277)
133              7 rue Louise-Weiss, Paris, France   (48.83318, 2.370542)
134                  7 cité Chaptal, Paris, France  (48.881432, 2.333126)

[135 rows x 7 columns]

In [8]:
import folium
from folium.plugins import MarkerCluster

carte = folium.Map(location=[48.8566, 2.3522], zoom_start=12)

marker_cluster = MarkerCluster()

for index, row in data_etablissements.iterrows():
    if row['Coordonnees']:
        folium.Marker(
            location=row['Coordonnees'],
            popup=row['Adresse_complete']
        ).add_to(marker_cluster)

#on fait un cluster afin de rendre la carte plus propre et plus lisible 
marker_cluster.add_to(carte)

carte.save("carte_paris.html")